<a href="https://colab.research.google.com/github/veretennikovalexey/Pikachu/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

25 июня 2022 года

Сняли офис на 2 года без возможности выкупа

За аренду мы платим 72000 без НДС каждый месяц

Необходимо расчитать **приведённую стоимость**

Это делается так: мы могли бы получить в банке 72000 * 2 * 12 =

In [ ]:
72000 * 2 * 12

1728000

72 000 * 2 * 12 = 1 728 000 рублей на 2 года

Предположим, что банк возмёт с нас процент, за пользование кредитом

Скажем, 12% годовых

Теперь нам надо посчитать ставку дисконтирования

Она рассчитывается вот по такой формуле

https://ru.stackoverflow.com/questions/1423744/Объясните-как-из-12-годовых-получается-ставка-дисконтирования-0-9489

или

( ( 1 + годовая ставка / 100 ) ^ 1/12 – 1 ) × 100

In [ ]:
( ( 1 + 12 / 100 ) ** ( 1 / 12 ) - 1 ) * 100

0.9488792934583046

Округляем до 0.9489

Итак, ставка дисконтирования равна 0.9489%

Для расчёта **приведённой стоимости** дополнительно потребуется найти коэффициент дисконтирования

Возьмем 9 знаков после запятой, чтобы совпало вот с этой статьёй

https://www.buhsoft.ru/article/4089-fsbu-25-buhgalterskiy-uchet-arendy-s-2022-goda

Формула для расчёта такая 1 : ( 1 + **ставка дисконтирования** : 100 )

In [ ]:
1 / ( 1 + 0.9489 / 100 )

0.9906001947519982

**Коэффициент дисконтирования** равен 0.990600195

Теперь месячную арендную плату умножаем на коэффициент дисконтирования

In [ ]:
72000 * 0.990600195

71323.21403999999

Это будет наша **приведённая стоимость** за первый месяц аренды

71323.21 рублей

Далее эту цифру ещё раз умножаем на коэффициент

In [ ]:
71323.21 * 0.990600195

70652.78573402595

Это **приведённая стоимость** за второй месяц аренды или 70652 рублей 79 копеек

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Срок аренды.xlsx to Срок аренды.xlsx

In [ ]:
import pandas
excel = pandas.read_excel( open( 'Срок аренды.xlsx', 'rb' ) )

In [ ]:
excel.head( 30 )

,1.00000,72000.00000,0.99060,71323.21404
0,2,71323.21404,0.9906,70652.789736
1,3,70652.789736,0.9906,69988.66729
2,4,69988.66729,0.9906,69330.787465
3,5,69330.787465,0.9906,68679.091582
4,6,68679.091582,0.9906,68033.521514
5,7,68033.521514,0.9906,67394.019678
6,8,67394.019678,0.9906,66760.529035
7,9,66760.529035,0.9906,66132.993081
8,10,66132.993081,0.9906,65511.355841
9,11,65511.355841,0.9906,64895.561871
10,12,64895.561871,0.9906,64285.556244
11,13,64285.556244,0.9906,63681.284551
12,14,63681.284551,0.9906,63082.692894
13,15,63082.692894,0.9906,62489.727882
14,16,62489.727882,0.9906,61902.336626
15,17,61902.336626,0.9906,61320.466732
16,18,61320.466732,0.9906,60744.066303
17,19,60744.066303,0.9906,60173.083924
18,20,60173.083924,0.9906,59607.468669
19,21,59607.468669,0.9906,59047.170087
20,22,59047.170087,0.9906,58492.138203
21,23,58492.138203,0.9906,57942.32351
22,24,57942.32351,0.9906,57397.676967
23,NaN,NaN,NaN,1538868.523728
24,Срок аренды,Арендный платёж,Коэффициент дисконтирования,"Приведённая стоимость, рублей"